<!DOCTYPE html>
<html>
<head>
<title> our services </title>
<meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style1.css') }}">
</head>
<body>
<div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html"> Excel <span class="logo_colour"> Foundation </span></a></h1>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Home</a></li>
          <li><a href="aboutus"> About Us </a></li>
          <li><a href="what's new"> What's New </a></li>
          <li><a href="services"> Service </a></li>
          <li><a href="resources"> Resources </a></li>
          <li><a href="links"> Links </a></li>
          <li class="selected"><a href="contact"> Contact Us </a></li>
        </ul>
      </div>
    </div>
        
        <div class="our_content">
        <h1 style="text-align:center;"> About Us </h1>
        
        <p>At Perfectnet Solutions, we guarantee better service by constant collaboration and communication with our team members,
        which help in combining every skill set involved within a project.</p>
        <p>We specialize in catering to a range of solutions, which satisfy the ever growing market challenges and client needs. We provide<br />
        reliable and customized solutions in accordance to the need of our clients.</p>
        <p>Our products are guaranteed works developed by our efficient team members that are in par with the internet market challenges.
        </p>
</div>
</body>
</html>
