<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Title goes here</title>
  <meta name="description" content="Description of your site goes here">
  <meta name="keywords" content="keyword1, keyword2, keyword3">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="main-out">
<div class="main">
<div class="page">
<div class="top">
<div class="header">
<div class="header-top">
<h1> Excel <span> Foundation </span></h1>
<p>Call Us: +233 202 2167 449</p>
</div>
<div class="topmenu">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/aboutus">About&nbsp;Us</a></li>
  <li><a href="#">What's&nbsp;New</a></li>
  <li><a href="/services">Services</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="#">Resources</a></li>
  <li><a href="#">Links</a></li>
</ul>
</div>
<div class="header-img">
<h2>Eat CODE Sleep and Repeat</h2>
</div>
</div>
<!--Designed by--><a target="_blank" href="http://www.zealouswork.com">
<img src="{{url_for('static', filename='images/copyright.gif') }}" class="copyright" alt="http://www.usaonlinecasinos.org"></a>
<div class="content">
<div class="content-left">
<div class="row1">
<div class="img"><img src="{{url_for('static', filename='images/img1.jpg') }}" alt="" height="101"
 width="157"></div>
<div class="welcome">
<h1 class="title"> Welcome to <span> Excel Foundation </span></h1>
<p><strong> Excel Foundation </strong><br>
Excel Foundation is an organisation established to help young kids learn how to code.
It will help children get more skills in so many languages in the world</p>
</div>
</div>
<div class="row2">
<div class="section1">
<h2 class="subtitle">What&#8217;s New</h2>
<p><strong>Today the world is full of IT stuffs<br>
</strong><br>
Excel Foundation has been the industry's standard<br>
sort of motivation ever since the 2017, when an<br>
unknown printer took a galley of type and people </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><a href="#" class="more">read more</a></p>
</div>
<div class="section2">
<h2 class="subtitle">Resources</h2>
<p><strong>Lorem Ipsm is simply dummy text of the printing and
typesetting industry.</strong><br>
Lorem Ipsum has been the industry's standard dummy text ever since the
1500s, when an unknown printer took a galley of type and scrambled it
to make a type specimen book. It has survived not only five centuries,
but</p>
<p>&nbsp;</p>
<p><a href="#" class="more">read more</a></p>
</div>
</div>
</div>
<div class="content-right">
<h2>Main Menu</h2>
<ul>
  <li style="border-top: medium none;"><a href="#"> Website </a></li>
  <li><a href="#"> Java </a></li>
  <li><a href="#"> C++ </a></li>
  <li><a href="#"> Python </a></li>
  <li><a href="#"> Android Development </a></li>
  <li><a href="#"> Ruby </a></li>
   <li><a href="#"> C </a></li>
  <li><a href="#"> Kotlin </a></li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
<div class="bottom">
<ul>
  <li style="border-left: medium none;"><a href="index.html">Home</a></li>
  <li><a href="#">About&nbsp;Us</a></li>
  <li><a href="#">What's&nbsp;New</a></li>
  <li><a href="#">Services</a></li>
  <li><a href="#">Contact</a></li>
  <li><a href="#">Resources</a></li>
  <li><a href="#">Links</a></li>
</ul>

<!--DO NOT Remove The Footer Links-->
<p>&copy; Copyright 2018. Designed by <a target="_blank" href="http://www.zealouswork.com">zealouswork.com</a></p>
</div>
<!--DO NOT Remove The Footer Links-->
</div>
</div>
</div>
</body>
</html>
